body {
  background-color: #f9f0e1;
  position: relative;
  padding: 70px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.not_found_div {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.container-list {
  display: flex;
  flex-direction: column;
}

.container-pageBtns {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  border: 1px solid #fc7353;
}

.container-card {
  display: flex;
}

.species_items {
  display: grid;

  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  justify-items: center;
  align-items: start;
  justify-content: space-around;

  padding: 20px;
  border: 1px solid #fc7353;
}

.specie_card {
  display: flex;
  border: 1px solid #fc7353;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.specie_item {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  border: 1px solid #fc7353;
  background-color: #f9f0e1;
  padding: 5px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-container-control {
  display: flex;
  gap: 5px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

.btn {
  padding: 5px 10px;
  font: inherit;
  color: inherit;
  border: 1px solid #fc7353;
  background-color: #f9f0e1;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.btn:disabled {
  background-color: #cccccc;
  cursor: default;
}

.btn:enabled:hover {
  background-color: #fc7353;
}

.input {
  border: 1px solid #fc7353;
  height: 40px;

  padding: 0px 5px;
  font-size: 20px;
}

.active-item {
  background-color: #fc7353;
}


@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}